body {
/*  background-color: lightgreen;
  background-image: url('bg1.jpg'); */
  background-color: salmon;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('http://img.talkandroid.com/uploads/2012/11/android_4.2_nexus_wallpaper_01.jpg ');
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('http://img.talkandroid.com/uploads/2012/11/android_4.2_nexus_wallpaper_01.jpg');
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('http://img.talkandroid.com/uploads/2012/11/android_4.2_nexus_wallpaper_01.jpg');
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('http://img.talkandroid.com/uploads/2012/11/android_4.2_nexus_wallpaper_01.jpg');
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url('http://img.talkandroid.com/uploads/2012/11/android_4.2_nexus_wallpaper_01.jpg');
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('http://img.talkandroid.com/uploads/2012/11/android_4.2_nexus_wallpaper_01.jpg'));
  background-size: cover;
  background-attachment: fixed;
}

body, button {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: white;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 80px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  }

.buttons {
  display: block;
  list-style: none;
  padding: 0;
  text-align: center;
}

.buttons li {
  display: inline-block;
  margin: 0 5px 50px;
}

button {
  background-color: white;
  border-radius: 5px;
  border-width: 0;
  font-size: 18px;
  padding: 10px;
  width: 150px;
}

button:hover {
  background-color: salmon;
}

.tweet-stream {
  background-color: rgba(256, 256, 256, .8);
  margin: 0 auto 100px auto;
  padding: 40px 60px 40px;
  width: 550px;
}

.tweet-container {
  border-bottom: 1px solid #666;
  clear: both;
  overflow: hidden;
}

.avatar {
  float: left;
  margin: 10px 10px 10px;
  width: 75px;
}

.user, .date {
  display: inline-block;
  margin-top: 25px;
}

.user {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;

}

.date {
  font-size: 12px;
}

.tweet-message {
  font-size: 18px;
  margin-bottom: 30px;
}

